@import 'mixins.scss';
.app-popular-repo {
    @include flex-center(column, center, none);
    height: 100%;
}

.app-results-feild {
    @include flex-center(column, none, center);
    background-color: #fff;
    box-shadow: 1px 1px 5px #64646459;
    width: 55%;
    height: 100%;
    min-height: 100vh;
    margin-top: 0%;
    padding: 1em;
    font-size: 1.3em;
}

.secondary {
    & a {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
}

.repo-name {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.third {
    color: rgb(102, 102, 102)
}

.repo-wrapper {
    padding: 0.5em 2.5em;
    font-size: 0.8em;
    &:hover {
        background-color: rgb(255, 225, 225);
    }
}

.repo-title {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

.repo-details,
.repo-copy {
    padding: 2% 0;
}

.repo-header-title {
    width: 90%;
    padding: 0 2em;
}