@import 'mixins.scss';
.app-popular-repo {
    @include flex-center(column, center, center);
    height: 100%;
    padding: 1em;
    font-size: 1.3em;
}

.app-results-feild {
    @include flex-center(column, none, center);
    background-color: #fff;
    box-shadow: 2px 5px 30px rgb(100, 100, 100);
    width: 55%;
    height: 100vh;
    margin-top: 0%;
    padding: 1em;
    font-size: 1.3em;
}

.secondary {
    & a {
        color: rgb(255, 0, 0)
    }
}

.resume {
    text-align: left;
    width: 90%
}