@import 'mixins.scss';
.app-popular-repo {
    @include flex-center(column, center, none);
    height: 100%;
}

.app-results-feild {
    @include flex-center(column, none, center);
    background-color: #fff;
    box-shadow: 2px 5px 30px rgb(100, 100, 100);
    width: 55%;
    height: 100%;
    min-height: 100vh;
    margin-top: 0%;
    padding: 1em;
    font-size: 1.3em;
}

.secondary {
    & a {
        color: rgb(255, 0, 0)
    }
}

.resume {
    text-align: left;
    width: 90%
}

.repo-name {
    color: rgb(255, 0, 0)
}

.third {
    color: rgb(102, 102, 102)
}

.repo-wrapper {
    padding: 0.5em 0;
    font-size: 0.8em;
}

.repo-title {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

.repo-details,
.repo-copy {
    padding: 2% 0;
}