@import 'mixins.scss';
.app-body-search {
    // @include flex-center(column, center, center);
    background-color: #fff;
    box-shadow: 2px 2px 50px #64646459;
    width: 75%;
    height: 25vh;
    z-index: 100;
}

.app-body-search-wrapper {
    @include flex-center(column, left, none);
    padding: 3em 0 0 0;
    width: 85%;
}

.search-head {
    text-align: left;
    padding-left: 10%;
}

form {
    width: 100%;
    padding-left: 5%;
}

input {
    width: 70%;
    border-radius: 5px;
    height: 25px;
    border: 0.5px solid rgb(207, 207, 207);
    font-size: 1.3em;
    padding-left: 10px;
}

form>button {
    width: 20%;
    height: 25px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(252, 81, 81);
    color: #fff;
    font-size: 1.2em;
    // padding: 1px;
}

.repo-results-wrapper {
    @include flex-center(column, none, none);
    text-align: left;
    background-color: #fff;
    width: 90%;
}